.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
}

.output {
    background-color: grey;
    height: 100px;
    width: 400px;
}